@import 'tailwindcss';

@theme {
	--font-sans: 'DM Sans', system-ui, sans-serif;
	--font-display: 'Playfair Display', serif;
}

html {
	scroll-behavior: smooth;
}

body {
	@apply m-0 font-sans  antialiased;
}
